In [1]:
a = 200
print(a)
print(type(a))

200
<class 'int'>

In [2]:
a=100
print("Type of variable having value with",a,"is",type(a))

Type of variable having value with 100 is <class 'int'>

In [3]:
num_1 = 2.5e4
print(num_1,type(num_1))

25000.0 <class 'float'>

In [1]:
num_1 = 5
num_2 = 12.7
a = float(num_1)

print(a,type(a))

5.0 <class 'float'>

In [2]:
num_1 = 5
num_2 = 12.7

b = int(num_2)

print(b, type(b))

12 <class 'int'>

In [3]:
my_list = [1,25,31,76]
print(my_list,type(my_list))

[1, 25, 31, 76] <class 'list'>

In [4]:
my_list = [1,25,31,76]

print(my_mylist[2])

NameError: name 'my_mylist' is not defined

In [5]:
my_list = [1,25,31,76]

print(my_list[2])

31

In [ ]:
my_list = [1,25,31,76]

my_list[2] = 67

[1, 25, 67, 76]

In [7]:
my_list = [1,25,31,76,76]
print(len(my_list))

5

In [9]:
my_list = [1,25,31,76,89]
print(my_list[1:4])

[25, 31, 76]

In [ ]:
my_list = [1,25,31,76,76]
print(my_list[:2])

[1, 25]

In [11]:
my_list = [1,25,31,76,89]
my_list.insert(3,"rabbit" )
print(my_list)

[1, 25, 31, 'rabbit', 76, 89]

In [13]:
my_list = [1,25,31,76,76]
my_list.append("johndoe")
print(my_list)

[1, 25, 31, 76, 76, 'johndoe']

In [14]:
my_list = [1,25,31,76,76]
new_list = ["hasattr", "getattr", "setattr"]

my_list.extend(new_list)

print(my_list)

[1, 25, 31, 76, 76, 'hasattr', 'getattr', 'setattr']

In [16]:
my_list = [1,25,31,76,76]
my_list.pop(2)

print(my_list)

[1, 25, 76, 76]

In [18]:
del my_list(2)

print(my_list)

SyntaxError: cannot delete function call (2219048429.py, line 1)

In [20]:
del my_list[2]

print(my_list)

[1, 25]

In [22]:
del my_list

print(len(my_list))

NameError: name 'my_list' is not defined

In [24]:
my_list = [1,25,31,76,76]

del my_list

print(len(my_list))

NameError: name 'my_list' is not defined

In [26]:
for i in range(120):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [28]:
my_list = [1,25,31,76,76]

my_list.clear()

print(my_list)

[]

In [30]:
print(len(my_list))

0

In [32]:
my_list = ["dog","apple","carrot","banana"]

my_list.sort()

print(my_list)

['apple', 'banana', 'carrot', 'dog']

In [34]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort()

print(my_list)

['Parrot', 'apple', 'banana', 'dog']

In [36]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(reverse=true)

print(my_list)

NameError: name 'true' is not defined

In [38]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(reverse=True)

print(my_list)

['dog', 'banana', 'apple', 'Parrot']

In [40]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(key=str.low)

print(my_list)

AttributeError: type object 'str' has no attribute 'low'

In [43]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(key=str.low())

print(my_list)

AttributeError: type object 'str' has no attribute 'low'

In [46]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(key=str.lower())

print(my_list)

TypeError: unbound method str.lower() needs an argument

In [48]:
my_list = ["dog","apple","Parrot","banana"]

my_list.sort(key=str.lower)

print(my_list)

['apple', 'banana', 'dog', 'Parrot']

In [51]:
my_list = ["dog","apple","Parrot","banana"]

my_list.reverse()

print(my_list)

['banana', 'Parrot', 'apple', 'dog']

In [78]:
my_list_1 = [-10,-18,12,5,7,12,-3]

my_list_2 = [8,4,-3,9,2,11]

combined_list = my_list_1 + my_list_2

combined_list.sort()

print(combined_list)

var = int(len(combined_list)/2)

print("Median is",combined_list[var])

q1_index = int(len(combined_list[:var-1])/2);

print("Q1 index is",q1_index,"and",q1_index+1)

print("Q1 is",(combined_list[q1_index]+combined_list[q1_index+1])/2);

q3_index = int(len(combined_list[var+1:])/2)+var;

print("Q3 index is",q3_index,"and",q3_index+1)

print("Q3 is",(combined_list[q3_index]+combined_list[q3_index+1])/2);

[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
Median is 5
Q1 index is 2 and 3
Q1 is -3.0
Q3 index is 9 and 10
Q3 is 10.0