In [6]:
x = int(input("Enter a number: "))

result = "OK" if x%6 == 0 else "Not OK"

print(result);

ValueError: invalid literal for int() with base 10: ''

In [12]:
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Unknown Status Code")

Unknown Status Code

In [16]:
x = int(input("Enter a number: "))

match x :
    case 0:
        print("Zero")
    case -1:
        print("Negative One")
    case 1:
        print("Positive One")
    case _ if x > 1:
        print("Positive number greater than 1")
    case x if x < -1:
        print("Negative number less than -1")
    case _:
        print("Unmatched case")

Positive One

In [22]:
numbers = [7,5,4]

match numbers:
    case [x,y]:
        print(x+y)
    case [x,y,z]:
        print(x+y+z)
    case _:
        print("The list does not contain 2 or 3 numbers or has more than 3 numbers")

16

In [41]:
x = list(input("Enter a list of numbers"))

match x:
    case []:
        print("The list is empty")
    case [y]:
        print(f"The list contains only one number")
    case [x, y]:
        print(f"The list contains two numbers")
    case _:
        print("This is something else")

This is something else

In [42]:
x = [3,4]

match x:
    case []:
        print("The list is empty")
    case [y]:
        print(f"The list contains only one number")
    case [z, y]:
        print(f"The list contains two numbers")
    case _:
        print("This is something else")

The list contains two numbers

In [43]:
fruits = ["apple","banana","cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [45]:
my_list = [2,4,5,6,7,8,9]

sq_list = []

for i in  my_list:
    sq_list.append(i**2)

print(sq_list)

[4, 16, 25, 36, 49, 64, 81]

In [46]:
my_list = [2,4,5,6,7,8,9]

sq_list = [i**2 for i in  my_list]

print(sq_list)

[4, 16, 25, 36, 49, 64, 81]

In [49]:
print ([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
print ([i**2 for i in range(2,10,2)])

[4, 16, 36, 64]

In [51]:
print ([i**2 for i in range(1,11)if i%2 == 0])

[4, 16, 36, 64, 100]

In [52]:
m = 5
i =0

while i < m:
    print(i,end=" ")
    i += 1
print("End")

0 1 2 3 4 End

In [59]:
x = int(input("Enter a number"))
i = 0;
while i < x:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [60]:
x = int(input("Enter a number"))
i = 0;
while i < x:
    if i == 10:
        break
    else:
        print(i)
        i += 2

0
2
4
6
8

In [62]:
Total = 0
while True:
    x =  int(input("Enter a number"))
    if x==0:
        break
    else:
        Total += x
print(Total)

129

In [66]:
my_list = [3,8,15,10,9,7,14]

for i in my_list:
    if i%2 == 1:
        print(i)
    else:
        continue

3
15
9
7

In [67]:
my_list = [10,20,40]

x,y,z = my_list

print(x,y,z)

10 20 40

In [68]:
my_tuple = ("balla","kukula","parawiya")

a,b,c = my_tuple

print(a,b,c)

balla kukula parawiya

In [77]:
person = {
    "name": "John Doe",
    "age": 30
}
for key,value in person.items():
    print(key,value)

name John Doe
age 30

In [78]:
dict_1 = {
    'a':1
}
dict_2 = { 'b':2}

dict_3 = dict_1 | dict_2

print(dict_3)

{'a': 1, 'b': 2}

In [81]:
my_dict = {
   "a" : 2,
    "b" : 13
}
print(my_dict.get("a","hamna"))

12

In [5]:
my_list = [10,2,5,8,9,11,13]

print(my_list[1:5:2])

[2, 8]

In [6]:
my_list = [10,2,5,8,9,11,13]

print(my_list[::2])

[10, 5, 9, 13]